.section {
	width: 100%;
    background-size: cover;
    background-position: center;
    display: block;
    &::after {
    	content: '';
    	display: inline-block;
    	clear: both;
    }
    &--form {
	    background-image: url(/media/background-form.jpg);
	    padding: 20vh 10px;
	    min-height: 100vh;
    }
}